
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutPageEIS.cshtml";
}
<!-- Main content -->
<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control float-right" id="reservation">
                <button type="submit" class="btn btn-primary">
                    조회
                </button>
            </div>
        </div>
        <div class="col-12">
            <h4>
                <i class="fas fa-globe"></i> 매출
            </h4>
        </div>
        <div class="col-12">
            <h4>
                <i class="fas fa-globe"></i> 매입
            </h4>
        </div>
    </div>
</div>   
    