<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body >
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Main content -->
        <section class="content">
            <div class="col-12 col-sm-6">
                <h3 class="d-inline-block d-sm-none">아이템명</h3>
                <div class="col-12">
                    <img src="../../dist/img/prod-1.jpg" class="product-image" alt="Product Image">
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- jQuery -->
 
</body>
</html>
