@model IEnumerable<AtlasDTO.ItemVO>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPageOrder.cshtml";
}
<h2>List</h2>

@foreach(var item in Model)
            {
                <div>
                    <h3>@item.ItemImage</h3>
                    <h3>@item.ItemName</h3>
                    <h3>@item.ItemPrice</h3>
                </div>
            }